# PYTHON PRINT FUNCTION PRACTICE QUESTIONS

# 1. BASIC PRINTING:

In [2]:
# - Write a Python script to print the phrase 'Hello, World!'.
# - Print your first name.

print("Hello World")
print("Tahir")

Hello World
Tahir

# 2. PRINTING MULTIPLE ITEMS:

In [3]:
# - Print your first name and last name in a single print statement.
# - Print the numbers 1, 2, and 3 in a single print statement.

print("Tahir Abbas")
print(1,2,3)

Tahir Abbas
1 2 3

# 3. PRINTING SPECIAL CHARACTERS:

In [4]:
# - Print a string that includes a newline character to display text on two lines. For example:
# Hello
# World
# - Print a string that includes a tab character. For example:
# Hello World

print("Hello \n Wolrd")
print("\t Hello World")

Hello
 Wolrd
	 Hello World

# 4. USING THE SEP PARAMETER:

In [6]:
# - Print three different words separated by commas. For example: 'apple, banana, cherry'.
# - Print three different numbers separated by hyphens. For example: '1-2-3'.

print("Apple", "Banana", "Cherry")
print("1-2-3")

Apple Banana Cherry
1-2-3

# 5. USING THE END PARAMETER:

In [7]:
# - Print two words on the same line with a space in between. For example: 'Hello World'.
# - Print the numbers 1 and 2 on the same line without a space in between. For example: '12'.


print("Hello World")
print("12")

Hello World
12

# 6. ESCAPE CHARACTERS:

In [11]:
# - Print a string that includes double quotes. For example: He said, "Hello!".
# - Print a backslash character. For example: This is a backslash: \.


print('He said, "Hello!"')
print("This is a backslash '\\'")

He said, "Hello!"
This is a backslash '\'

# 7. COMBINING TEXT AND NUMBERS:

In [12]:
# - Print your age alongside a descriptive message. For example: 'I am 20 years old'.
# - Print a number and a string together. For example: 'The number is 5'.


print("I am 20 years old")
print("The number is 10.")

I am 20 years old
The number is 10.

# 8. BASIC LOOP FOR PRINTING:

In [14]:
# - Print the numbers 1 to 5, each on a new line using separate print statements.


print(1)
print(2)
print(3)
print(4)
print(5)

1
2
3
4
5